body{
    margin: 0px;
    padding: 0px;
    /* background-color: seagreen; */
}
#container
{
    width: 100%;
    height: 2500px;
    background-color: white;
    margin: auto;
}
#background_image
{
    width: 1300px;
    height: 700px;
    background-color: aqua;
    margin: auto;
    /* background: url(../images/header-homepage.jpg) 0 0 no-repeat; */
    /* background: url("\WebDesignforBeginners_SF\HTML\Exercise\images\header-homepage.jpg"); */
}
#header_main_body
{
   padding-top: 72px;
   padding-bottom: 228px;
   height: 400px;
   width: 1100px;
   margin: auto; 
   background-color: silver;
}
#logo
{
    font-size: 25pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #ffffff;
    float: left;
}
nav
{
    float: right;
}
nav ul li{
    display: inline;
    margin-left: 14px;
}
nav ul li a{
    font-size: 14pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}


.header-hr {
	background-color: rgba(255, 255, 255, .1);
	border: 0;
	height: 1px;
    margin-top: 0;
}
#container_logo_item
{
    height: 40px;
    width: 1100px;
    /* background-color: black; */
}
#hr_container
{
    padding-top: 48px;
    height: 2px;
    width: 1100px;
    /* background-color: wheat; */
}
#project_name
{
    width: 1100px;
    height: 60px;
    padding-top: 85px;
    /* background-color: pink; */
}
.project_name{
    text-align: center;
    font-size: 40pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}
#container_story
{
    padding-top: 26px;
    width: 705px;
    height: 30px;
    margin: auto;
    /* background-color: black; */
}
.container_story
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12PX;
    color: #ffffff;
    text-align: center;
}
#button_container
{
    padding-top: 42px;
    /* background-color: green; */
    height: 55px;
    width: 207px;
    margin: auto;
}
button
{
    border: 1px solid #f2ae5d;
    width: 190px;
    height: 50px;
    cursor: pointer;
    background:no-repeat;

}
button:hover
{
    background-color: #f2ae5d;
    color: #333538;
}
.button_container
{
    color:#f2ae5d;
    font-style: italic;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
#project_body
{
    width: 1100px;
    height: 989px;
    padding-bottom: 77px;
    padding-top: 98px;
    margin: auto;
    /* background-color: pink; */
}
#project_body_left
{
    width: 495px;
    height: 989px;
    /* background-color: #f2ae5d; */
    float: left;
}
#project_body_right
{
    width: 495px;
    height: 989px;
    /* background-color:white; */
    padding-left: 110px;
    float: left;
}
.image_body
{
width: 495px;
height: 250px;
}
#after_image_container
{
    padding-top: 48px;
    /* background-color: silver; */
    
}
.project_title
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25pt;
    color: #333538;
}
#after_project_title
{
    padding-top: 25px;
    /* background-color: silver; */
}
.write_project_story
{
    width: 495px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333538;
    /* background-color: yellow; */
}
#after_project_story
{
    padding-top: 26px;
    /* background-color: silver; */
}
.see_detail
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #f46151;
    text-decoration: none;
}
.see_detail:hover{
    text-decoration: underline;
    color: #f46151;
}
#next_image_container
{
    padding-top: 48px;
    /* background-color: silver; */
}
#footer
{
    width: 100%;
    height: 350px;
    background-color: #2e2e2e; 
    margin: auto;
}
#footer_center
{
    margin: auto;
    width: 1100px;
    height: 306px;
    padding-top: 44px;
    /* background-color: aqua; */
}
#newsletter
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #5c5d60;
}
#footer_LEFT
{
    width: 680px;
    height: 306px;
    /* background-color: aqua; */
    float: left;
}
#footer_RIGHT
{
    width: 365px;
    height: 306px;
    /* background-color:yellow; */
    padding-left: 55px;
    float: left;
}
#after_newletter
{
    padding-top: 42px;
    /* background-color: silver; */
}
.footer_story
{
    width: 650px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.input
{
    width: 430px;
    height: 40px;
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
    float: left;
}
.button_container1
{
    color:#f2ae5d;
    font-style: italic;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 15px;
    height: 46px;
}
#getintouch
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #5c5d60;
}
#AFTER_getintouch
{
    padding-top: 35px;
    /* background-color: silver; */
}
#AFTER_getintouch1
{
    padding-top: 30px;
    /* background-color: silver; */
}
.write_email
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #f46151;
    text-decoration: none;
}
.write_email:hover{
    text-decoration: underline;
    color: #f46151;
}
#AFTER_getintouch2
{
    padding-top: 26px;
    /* background-color: silver; */
}
.fb_icon
{
    width: 24px;
    height: 24px;
    float: left;
}
.tw_icon
{
    width: 24px;
    height: 24px;
    margin-left: 12px;
}

